remsfal-gaeb/src/main/xsd/gaeb_da_xml/3_3/2021-05_Preisspiegel_und_Raumbuch/GAEB_DA_XML_84P_3.3_2021-05_Beta.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2012 sp1 (x64) (http://www.altova.com) by Bernhard Rath (Ing.-Büro B. Rath) -->
<!-- 

2013-04-17 Bearbeiter Berhard Rath, Ladislav Ostry
tgSC_Evaluation - Element "ID" umbennant in "DP"

GAEB_DA_XML 3.2 2012-01
Bearbeiter: Andreas Schmidt, Ladislav Ostry

2012-01-31 Bearbeiter Berhard Rath
tgSC_GAEB eingeführt

2012-02-13 Bearbeiter Berhard Rath
tgBidderList eingeführt

2018-11-24 Bearbeiter: Bernhard Rath
- Namen der Lib auf "GAEB_DA_XML_Lib_3.3_2018-11.xsd" geändert
- Schemanamen geändert

2019-05-26 Bearbeiter Bernhard Rath
Name dieses Schema auf GAEB_DA_XML_84P_3.3_2019-05_Beta.xsd gesetzt.
Verweis auf GAEB_DA_XML_Lib_3.3_2019-05.xsd, GAEB_DA_XML_83_3.3_2019-05.xsd, GAEB_DA_XML_84_3.3_2019-05.xsd angepasst.

2019-11-15 Bearbeiter Bernhard Rath
Name dieses Schema auf GAEB_DA_XML_84P_3.3_2019-11_Beta.xsd gesetzt.
Verweis auf GAEB_DA_XML_Lib_3.3_2019-11.xsd, GAEB_DA_XML_83_3.3_2019-11.xsd, GAEB_DA_XML_84_3.3_2019-11.xsd angepasst.

2019-11-29 Bearbeiter Bernhard Rath
Restrictions angepasst.

2020-07-14 Bearbeiter Bernhard Rath
Name dieses Schema auf GAEB_DA_XML_84P_3.3_2020-06_Beta.xsd gesetzt.
Verweis auf GAEB_DA_XML_Lib_3.3_2020-06.xsd, GAEB_DA_XML_83_3.3_2020-06.xsd, GAEB_DA_XML_84_3.3_2020-06.xsd angepasst.

2021-06-14 Bearbeiter Bernhard Rath
Name dieses Schema auf GAEB_DA_XML_84P_3.3_2021-05_Beta.xsd gesetzt.
Verweis auf GAEB_DA_XML_Lib_3.3_2021-05.xsd, GAEB_DA_XML_83_3.3_2021-05.xsd, GAEB_DA_XML_84_3.3_2021-05.xsd angepasst.

-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.gaeb.de/GAEB_DA_XML/DA84P/3.3" xmlns:gaeb83="http://www.gaeb.de/GAEB_DA_XML/DA83/3.3" xmlns:gaeb84="http://www.gaeb.de/GAEB_DA_XML/DA84/3.3" targetNamespace="http://www.gaeb.de/GAEB_DA_XML/DA84P/3.3" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!--=============================Gaeb 83=====================================================================-->
	<xs:import namespace="http://www.gaeb.de/GAEB_DA_XML/DA83/3.3" schemaLocation="GAEB_DA_XML_83_3.3_2021-05.xsd"/>
	<!--=============================Gaeb 84=====================================================================-->
	<xs:import namespace="http://www.gaeb.de/GAEB_DA_XML/DA84/3.3" schemaLocation="GAEB_DA_XML_84_3.3_2021-05.xsd"/>
	<!--=============================Gaeb 84=====================================================================-->
	<xs:redefine schemaLocation="../GAEB_DA_XML_Lib_3.3_2021-05.xsd"/>
	<!--GAEB-->
	<xs:element name="GAEB" type="tgSC_GAEB"/>
	<!--=========================================================================================================-->
	<xs:complexType name="tgSC_GAEB">
		<xs:annotation>
			<xs:documentation>Aufgestellt vom Gemeinsamen Ausschuss Elektronik im Bauwesen (GAEB) © 2002 - 2019 by DIN Deutsches Institut fuer Normung e. V.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GAEBInfo" type="tgGAEBInfo">
				<xs:annotation>
					<xs:documentation>Informationen zum GAEB-Datenaustausch</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrjInfo" type="tgPrjInfo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Informationen zum Projekt</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SC_Evaluation" type="tgSC_Evaluation" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Preisspiegel 84P</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddText" type="tgAddText" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Zusaetzlicher Text; Zusätzliche Textinformation können hier abgelegt werden. </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--/ GAEB-->
	<!--=========================================================================================================-->
	<xs:complexType name="tgSC_Evaluation">
		<xs:sequence>
			<xs:element name="DP">
				<xs:simpleType>
					<xs:restriction base="xs:normalizedString">
						<xs:enumeration value="84P"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Award" type="gaeb83:tgAward">
				<xs:annotation>
					<xs:documentation>Vergabe
In diesem Objekt werden die Informationen des Vergabeverfahrens abgelegt. 
Das Objekt kann in den Datenaustauschphasen D81-D88 verwendet werden.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddText" type="gaeb83:tgAddText" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Zusaetzlicher Text; Zusätzliche Textinformation können hier abgelegt werden. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BidderList" type="tgBidderList"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tgBidderList">
		<xs:sequence>
			<xs:element name="Bidder" type="gaeb84:tgAward" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
