remsfal-gaeb/src/main/xsd/gaeb_da_xml/3_3/2021-05_Zeitvertrag/GAEB_DA_XML_84Z_3.3_2021-05.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2012 sp1 (x64) (http://www.altova.com) by Bernhard Rath (Ing.-Büro B. Rath) -->
<!-- 
GAEB_DA_XML_3.2_2014-03
======================
2014-03-24 Bearbeiter: Ladislav Ostry, Martin Hubert
- Namen der Lib auf "GAEB_DA_XML_Lib_3.2_2014-03.xsd" geändert

GAEB_DA_XML 3.2 2012-01
======================
2013-09-05 Bearbeiter: Bernhard Rath
Änderungen laut Protokoll Telko 2013.09.02
- Datentypenänderung in LIB angepasst.

GAEB_DA_XML 3.2 2012-01
2013-04-22 Bearbeiter: Ladislav Ostry, Martin Hubert
tgBoQBkdn - hinzugefügt wie in 83Z, dadurch Alignment entfällt und Num="Yes"

2013-02-27 Bearbeiter: Ladislav Ostry, Martin Hubert
Erstellt

2019-03-08 Bearbeiter Bernhard Rath
Lib zuordnung auf 3.3 geändert

2019-05-26 Bearbeiter Bernhard Rath
Name dieses Schema auf GAEB_DA_XML_84Z_3.3_2019-05.xsd gesetzt.
Verweis auf GAEB_DA_XML_Lib_3.3_2019-05.xsd angepasst.

2019-11-15 Bearbeiter Bernhard Rath
Name dieses Schema auf GAEB_DA_XML_84Z_3.3_2019-11.xsd gesetzt.
Verweis auf GAEB_DA_XML_Lib_3.3_2019-11.xsd angepasst.

2019-11-29 Bearbeiter Bernhard Rath
Restrictions angepasst.

2020-07-14 Bearbeiter Bernhard Rath
Name dieses Schema auf GAEB_DA_XML_84Z_3.3_2020-06.xsd gesetzt.
Verweis auf GAEB_DA_XML_Lib_3.3_2020-06.xsd angepasst.

2021-06-14 Bearbeiter Bernhard Rath
Name dieses Schema auf GAEB_DA_XML_84Z_3.3_2021-05.xsd gesetzt.
Verweis auf GAEB_DA_XML_Lib_3.3_2021-05.xsd angepasst.

-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.gaeb.de/GAEB_DA_XML/DA84Z/3.3" targetNamespace="http://www.gaeb.de/GAEB_DA_XML/DA84Z/3.3" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:redefine schemaLocation="../GAEB_DA_XML_Lib_3.3_2021-05.xsd">
		<xs:simpleType name="tgBoQBkdnType">
			<xs:restriction base="tgBoQBkdnType">
				<xs:enumeration value="BoQLevel"/>
				<xs:enumeration value="Item"/>
			</xs:restriction>
		</xs:simpleType>
		<xs:simpleType name="tgDP">
			<xs:restriction base="tgDP">
				<xs:enumeration value="84Z">
					<xs:annotation>
						<xs:documentation>LV Katalog</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
			</xs:restriction>
		</xs:simpleType>
		<xs:complexType name="tgAward">
			<xs:complexContent>
				<xs:restriction base="tgAward">
					<xs:sequence>
						<xs:element name="DP" type="tgDP">
							<xs:annotation>
								<xs:documentation>GAEB-Datenaustauschphase</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AwardInfo" type="tgAwardInfo">
							<xs:annotation>
								<xs:documentation>Informationen zur Vergabe</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="OWN" type="tgOWN">
							<xs:annotation>
								<xs:documentation>Informationen zum Auftraggeber</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CTR" type="tgCTR">
							<xs:annotation>
								<xs:documentation>Informationen zum Bieter/Auftragnehmer</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="BoQ" type="tgBoQ">
							<xs:annotation>
								<xs:documentation>Leistungsverzeichnis</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
		<xs:complexType name="tgAwardInfo">
			<xs:complexContent>
				<xs:restriction base="tgAwardInfo">
					<xs:sequence>
						<xs:element name="BidDate" type="tgDate">
							<xs:annotation>
								<xs:documentation>Angebotsdatum</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
		<xs:complexType name="tgBoQ">
			<xs:complexContent>
				<xs:restriction base="tgBoQ">
					<xs:sequence>
						<xs:element name="BoQInfo" type="tgBoQInfo">
							<xs:annotation>
								<xs:documentation>Informationen zum LV</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="BoQBody" type="tgBoQBody">
							<xs:annotation>
								<xs:documentation>LV-Hauptteil</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="ID" type="xs:ID" use="required"/>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
		<xs:complexType name="tgBoQBkdn">
			<xs:complexContent>
				<xs:restriction base="tgBoQBkdn">
					<xs:sequence>
						<xs:element name="Type" type="tgBoQBkdnType">
							<xs:annotation>
								<xs:documentation>Ebene des Teilschluessels</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="LblBoQBkdn" type="tgNormalizedString40" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Bezeichnung der LVStufe</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Length" type="tgBoQBkdnLength">
							<xs:annotation>
								<xs:documentation>Laenge des Teilschluessels</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Num" type="tgYes">
							<xs:annotation>
								<xs:documentation>Dieses Element sollte immer vorhanden sein. Ist dieses Element "Yes", dann ist die TeilOZ in dieser Ebene als numerische OZ zu interpretieren. In der TeilOZ sind dann nur Ziffern erlaubt. Fuehrende Nullen sind dann fuer die Interpretation nicht relevant. Ist dieses Attribut "No", dann ist die TeilOZ in dieser Ebene als alphanumerisch zu interpretieren. In der TeilOZ sind dann Ziffern und Buchstaben in beliebiger Reihenfolge erlaubt. Alle Stellen sind relevant. </xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
		<xs:complexType name="tgBoQBody">
			<xs:complexContent>
				<xs:restriction base="tgBoQBody">
					<xs:choice minOccurs="0">
						<xs:choice maxOccurs="unbounded">
							<xs:element name="BoQCtgy" type="tgBoQCtgy">
								<xs:annotation>
									<xs:documentation> LV-Bereich</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:choice>
						<xs:element name="Itemlist" type="tgItemlist">
							<xs:annotation>
								<xs:documentation>Positionsliste</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
		<xs:complexType name="tgBoQCtgy">
			<xs:complexContent>
				<xs:restriction base="tgBoQCtgy">
					<xs:sequence>
						<xs:element name="BoQBody" type="tgBoQBody" minOccurs="0">
							<xs:annotation>
								<xs:documentation>LV-Hauptteil</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:choice minOccurs="0">
							<xs:element name="BidUpDownPct" type="tgBidUpDownPct">
								<xs:annotation>
									<xs:documentation>Auf- oder Abgebot (in %)</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:choice>
					</xs:sequence>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
		<xs:complexType name="tgBoQInfo">
			<xs:complexContent>
				<xs:restriction base="tgBoQInfo">
					<xs:sequence>
						<xs:element name="BoQBkdn" type="tgBoQBkdn" maxOccurs="7">
							<xs:annotation>
								<xs:documentation>Informationen zur Gliederung des LV</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
		<xs:complexType name="tgCTR">
			<xs:complexContent>
				<xs:restriction base="tgCTR">
					<xs:sequence>
						<xs:element name="Address" type="tgAddress">
							<xs:annotation>
								<xs:documentation>Informationen zur Adresse des Bieters/AN</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
		<xs:complexType name="tgGAEB">
			<xs:annotation>
				<xs:documentation>Aufgestellt vom Gemeinsamen Ausschuss Elektronik im Bauwesen (GAEB) © 2002 - 2012 by DIN Deutsches Institut fuer Normung e. V.</xs:documentation>
			</xs:annotation>
			<xs:complexContent>
				<xs:restriction base="tgGAEB">
					<xs:sequence>
						<xs:element name="GAEBInfo" type="tgGAEBInfo">
							<xs:annotation>
								<xs:documentation>Informationen zum GAEB-Datenaustausch</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Award" type="tgAward">
							<xs:annotation>
								<xs:documentation>Vergabe
In diesem Objekt werden die Informationen des Vergabeverfahrens abgelegt. 
Das Objekt kann in den Datenaustauschphasen D81-D88 verwendet werden.</xs:documentation>
							</xs:annotation>
							<!--
					<xs:unique name="Constraint_Description_ID">
						<xs:selector xpath=".//Description | PreBoQText | PostBoQText"/>
						<xs:field xpath="@ID"/>
					</xs:unique>
					-->
						</xs:element>
					</xs:sequence>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
		<xs:complexType name="tgGAEBInfo">
			<xs:complexContent>
				<xs:restriction base="tgGAEBInfo">
					<xs:sequence>
						<xs:element name="Version" type="tgVersion">
							<xs:annotation>
								<xs:documentation>Version des GAEB DA XML</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="VersDate" type="tgGAEBVersDate">
							<xs:annotation>
								<xs:documentation>Datum der Ausgabe der GAEB-DA-XML  Schnittstellendefinition</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Date" type="tgDate">
							<xs:annotation>
								<xs:documentation>Datum</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Time" type="tgTime">
							<xs:annotation>
								<xs:documentation>Erstellungszeit der Datenaustauschdatei</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ProgSystem" type="tgNormalizedString60">
							<xs:annotation>
								<xs:documentation>Programmsystem</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ProgName" type="tgNormalizedString60">
							<xs:annotation>
								<xs:documentation>Umsetzprogramm</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Certific" type="tgCertific" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Pruefzertifikat der benutzten Version GAEB DA XML liegt vor</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
		<xs:complexType name="tgHourItem">
			<xs:complexContent>
				<xs:restriction base="tgHourItem">
					<xs:sequence>
						<xs:element name="UP" type="tgDecimal_13_3">
							<xs:annotation>
								<xs:documentation>Einheitspreis</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
		<xs:complexType name="tgItem">
			<xs:complexContent>
				<xs:restriction base="tgItem">
					<xs:sequence>
						<xs:choice>
							<xs:element name="BidUpDownPct" type="tgBidUpDownPct">
								<xs:annotation>
									<xs:documentation>Auf- oder Abgebot (in %)</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:choice>
					</xs:sequence>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
		<xs:complexType name="tgItemlist">
			<xs:complexContent>
				<xs:restriction base="tgItemlist">
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:element name="Item" type="tgItem">
							<xs:annotation>
								<xs:documentation>Position</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="MastAgrItems" type="tgMastAgrItems"/>
					</xs:choice>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
		<xs:complexType name="tgMastAgrItems">
			<xs:complexContent>
				<xs:restriction base="tgMastAgrItems">
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:element name="HourItem" type="tgHourItem">
							<xs:annotation>
								<xs:documentation>Stundenlohnarbeiten</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="MaterialItem" type="tgMaterialItem">
							<xs:annotation>
								<xs:documentation>Materialposition</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="MarkupItemCTR" type="tgMarkupItemCTR">
							<xs:annotation>
								<xs:documentation>Zuschlagsposition</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
		<xs:complexType name="tgMarkupItemCTR">
			<xs:complexContent>
				<xs:restriction base="tgMarkupItemCTR">
					<xs:sequence>
						<xs:element name="Markup" type="tgDecimal_9_6">
							<xs:annotation>
								<xs:documentation>Zuschlagsprozentsatz</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
		<xs:complexType name="tgMaterialItem">
			<xs:complexContent>
				<xs:restriction base="tgMaterialItem">
					<xs:sequence>
						<xs:element name="BidUpDownPct" type="tgBidUpDownPct">
							<xs:annotation>
								<xs:documentation>Auf- oder Abgebot (in %)</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
		<xs:complexType name="tgOWN">
			<xs:complexContent>
				<xs:restriction base="tgOWN">
					<xs:sequence>
						<xs:element name="AwardNo" type="tgNormalizedString60">
							<xs:annotation>
								<xs:documentation>Vergabenummer</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
	</xs:redefine>
	<!--GAEB-->
	<xs:element name="GAEB" type="tgGAEB"/>
	<!--=========================================================================================================-->
</xs:schema>
