remsfal-gaeb/src/main/xsd/gaeb_da_xml/3_3/2021-05_Handel/GAEB_DA_XML_96_3.3_2021-05.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2012 sp1 (x64) (http://www.altova.com) by Bernhard Rath (Ing.-Büro B. Rath) -->
<!-- 
X96 - Handel-Bestellung 
GAEB_DA_XML_3.2_2013-10  
======================

2013-11-15 Bearbeiter: Martin Hubert
- Namen der Lib auf "GAEB_DA_XML_Lib_3.2_2013-10.xsd" geändert

GAEB_DA_XML 3.1 2009-12
Letzte Änderung 2009-11-20 21:00

2018-11-24 Bearbeiter: Bernhard Rath
- Namen der Lib auf "GAEB_DA_XML_Lib_3.3_2018-11.xsd" geändert
- Schemaname geändert

2019-05-26 Bearbeiter Bernhard Rath
Name dieses Schema auf GAEB_DA_XML_96_3.3_2019-05.xsd gesetzt.
Verweis auf GAEB_DA_XML_Lib_3.3_2019-05.xsd angepasst.

2019-11-15 Bearbeiter Bernhard Rath
Name dieses Schema auf GAEB_DA_XML_96_3.3_2019-11.xsd gesetzt.
Verweis auf GAEB_DA_XML_Lib_3.3_2019-11.xsd angepasst.

2020-07-14 Bearbeiter Bernhard Rath
Name dieses Schema auf GAEB_DA_XML_96_3.3_2020-06.xsd gesetzt.
Verweis auf GAEB_DA_XML_Lib_3.3_2020-06.xsd angepasst.

2021-06-14 Bearbeiter Bernhard Rath
Name dieses Schema auf GAEB_DA_XML_96_3.3_2021-05.xsd gesetzt.
Verweis auf GAEB_DA_XML_Lib_3.3_2021-05.xsd angepasst.

-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.gaeb.de/GAEB_DA_XML/DA96/3.3" targetNamespace="http://www.gaeb.de/GAEB_DA_XML/DA96/3.3" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:redefine schemaLocation="../GAEB_DA_XML_Lib_3.3_2021-05.xsd">
		<xs:simpleType name="tgDP">
			<xs:restriction base="tgDP">
				<xs:enumeration value="96">
					<xs:annotation>
						<xs:documentation>Bestellung</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
			</xs:restriction>
		</xs:simpleType>
		<xs:complexType name="tgGAEB">
			<xs:complexContent>
				<xs:restriction base="tgGAEB">
					<xs:sequence>
						<xs:element name="GAEBInfo" type="tgGAEBInfo">
							<xs:annotation>
								<xs:documentation>Informationen zum GAEB-Datenaustausch</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PrjInfo" type="tgPrjInfo" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Informationen zum Projekt</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Order" type="tgOrder">
							<xs:annotation>
								<xs:documentation>Bestellung</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AddText" type="tgAddText" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Zusaetzlicher Text; Zusätzliche Textinformation können hier abgelegt werden. </xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
	</xs:redefine>
	<!--GAEB-->
	<xs:element name="GAEB" type="tgGAEB"/>
	<!--=========================================================================================================-->
</xs:schema>
