remsfal-gaeb/src/main/xsd/gaeb_da_xml/3_3/2021-05_Kosten_und_Kalkulation/GAEB_DA_XML_51.2_3.3_2021-05.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2012 sp1 (x64) (http://www.altova.com) by Bernhard Rath (Ing.-Büro B. Rath) -->
<!-- Mit XMLSpy v2012 sp1 (x64) (http://www.altova.com) von Bernhard Rath (Ing.-Büro B. Rath) bearbeitet -->
<!-- 

Projektbezogene Kostenermittlung

Bearbeiter: Bernhard Rath
2017-10-05
Lib5x eingeführt
2017-11-11
Lib GAEB_DA_XML_51_3.2_2017-11 eingeführt
2017-12-11
ElePart, EleNo in tgECCtgy und tgCostElement geändert

2018-11-24 Bearbeiter: Bernhard Rath
- Namen der Lib auf "GAEB_DA_XML_51_3.3_2018-11.xsd" geändert
- Schemaname geändert

2019-05-26 Bearbeiter Bernhard Rath
Name dieses Schema auf GAEB_DA_XML_51.2_3.3_2019-05.xsd gesetzt.
Verweis auf GAEB_DA_XML_51_3.3_2019-05.xsd angepasst.

2019-11-15 Bearbeiter Bernhard Rath
Name dieses Schema auf GAEB_DA_XML_51.2_3.3_2019-11.xsd gesetzt.
Verweis auf GAEB_DA_XML_51_3.3_2019-11.xsd angepasst.

2019-11-29 Bearbeiter Bernhard Rath
Restrictions angepasst.

2020-07-14 Bearbeiter Bernhard Rath
Name dieses Schema auf GAEB_DA_XML_51.2_3.3_2020-06.xsd gesetzt.
Verweis auf GAEB_DA_XML_51_3.3_2020-06.xsd angepasst.

2021-01-20 Bearbeiter Ladislav Ostrý 
Element GAEB von 51 nach 51.1 und 51.2 verschoben. 

2021-06-14 Bearbeiter Bernhard Rath
Name dieses Schema auf GAEB_DA_XML_51.2_3.3_2021-05.xsd gesetzt.
Verweis auf GAEB_DA_XML_51_3.3_2021-05.xsd angepasst.

-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.gaeb.de/GAEB_DA_XML/DA51/3.3" targetNamespace="http://www.gaeb.de/GAEB_DA_XML/DA51/3.3" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:redefine schemaLocation="GAEB_DA_XML_51_3.3_2021-05.xsd">
		<xs:simpleType name="tgDP">
			<xs:restriction base="tgDP">
				<xs:enumeration value="51.2">
					<xs:annotation>
						<xs:documentation>Projektbezogene Kostenermittlung</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
			</xs:restriction>
		</xs:simpleType>
		<xs:complexType name="tgECInfo">
			<xs:complexContent>
				<xs:restriction base="tgECInfo">
					<xs:sequence>
						<xs:element name="Name" type="tgNormalizedString20"/>
						<xs:element name="LblEC" type="tgNormalizedString60" minOccurs="0"/>
						<xs:element name="ECType" type="tgECType" minOccurs="0"/>
						<xs:element name="ECMethod" type="tgECMethod" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Kennzeichnung (Kostenflächenarten, Objektvergleichsmethode, Elemente, Positionen, …)</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Date" type="tgDate" minOccurs="0"/>
						<xs:sequence minOccurs="0">
							<xs:element name="Cur" type="tgCur">
								<xs:annotation>
									<xs:documentation>Waehrung</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="CurLbl" type="tgCurLbl" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Bezeichnung der Waehrung</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
						<xs:element name="DateOfInformation" type="tgDateOfInformation" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Datum: Zeitpunkt der letzten berücksichtigen Information (Protokolle, Pläne, …) Text: Auflistung der dem Kostenplan zugrundeliegenden Informationen (Protokolle, Pläne, …)</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="DateOfPrice" type="tgDate" minOccurs="0"/>
						<xs:element name="ECBkdn" type="tgECBkdn" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="Ctlg" type="tgCtlg" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="ConsortiumMember" type="tgConsortiumMember" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="CtlgAssign" type="tgCtlgAssign" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="Totals" type="tgTotals" minOccurs="0"/>
						<xs:element name="AddText" type="tgAddText" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
		<xs:complexType name="tgECCtgy">
			<xs:complexContent>
				<xs:restriction base="tgECCtgy">
					<xs:sequence>
						<xs:element name="EleNo" type="tgNormalizedString"/>
						<xs:element name="Descr" type="tgMLText"/>
						<xs:element name="ECBody" type="tgECBody" minOccurs="0"/>
						<xs:element name="Property" type="tgProperty" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="Portion" type="tgDecimal_9_6" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Prozentualer Anteil</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Totals" type="tgTotals" minOccurs="0"/>
						<xs:element name="CtlgAssign" type="tgCtlgAssign" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
					<xs:attribute name="ID" type="xs:ID" use="required"/>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
		<xs:complexType name="tgCostElement">
			<xs:complexContent>
				<xs:restriction base="tgCostElement">
					<xs:sequence>
						<xs:element name="EleNo" type="tgNormalizedString"/>
						<xs:element name="Descr" type="tgMLText"/>
						<xs:element name="CatID" type="tgNormalizedString" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Catalog ID</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CtlgAssign" type="tgCtlgAssign" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="Description" type="tgDescription" minOccurs="0"/>
						<xs:element name="Remark" type="tgMLText" minOccurs="0"/>
						<xs:element name="Property" type="tgProperty" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="BillElement" type="tgYes" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Wenn ja, dann keine weiteren Referenzierungen</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Qty" type="tgDecimal_11_3" minOccurs="0"/>
						<xs:element name="QU" type="tgNormalizedString4"/>
						<xs:element name="UP" type="tgDecimal_13_3" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Einheitspreis</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Markup" type="tgDecimal_9_6" minOccurs="0"/>
						<xs:element name="IT" type="tgDecimal_13_2" minOccurs="0"/>
						<xs:element name="UPFrom" type="tgDecimal_13_3" minOccurs="0">
							<xs:annotation>
								<xs:documentation>"Von" – Einheitspreis, nur bei Katalogdaten</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="UPAvg" type="tgDecimal_13_3" minOccurs="0">
							<xs:annotation>
								<xs:documentation>"Mittel" – Einheitspreis, nur bei Katalogdaten: </xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="UPTo" type="tgDecimal_13_3" minOccurs="0">
							<xs:annotation>
								<xs:documentation>"Bis" – Einheitspreis nur bei Katalogdaten</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="RefGroup" type="tgRefGroup" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="CostElement" type="tgCostElement" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Ist diese Element wirklich nötig?</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="ID" type="xs:ID" use="required"/>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
		<xs:complexType name="tgCategoryElement">
			<xs:complexContent>
				<xs:restriction base="tgCategoryElement">
					<xs:sequence>
						<xs:element name="EleNo" type="tgNormalizedString"/>
						<xs:element name="Descr" type="tgMLText"/>
						<xs:element name="CatID" type="tgNormalizedString" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Catalog ID</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CtlgAssign" type="tgCtlgAssign" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="Remark" type="tgMLText" minOccurs="0"/>
						<xs:element name="Property" type="tgProperty" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="Markup" type="tgDecimal_9_6" minOccurs="0"/>
					</xs:sequence>
					<xs:attribute name="ID" type="xs:ID" use="required"/>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
		<xs:complexType name="tgDimensionElement">
			<xs:complexContent>
				<xs:restriction base="tgDimensionElement">
					<xs:sequence>
						<xs:element name="EleNo" type="tgNormalizedString"/>
						<xs:element name="Descr" type="tgMLText"/>
						<xs:element name="CatID" type="tgNormalizedString" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Catalog ID</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CtlgAssign" type="tgCtlgAssign" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="Remark" type="tgMLText" minOccurs="0"/>
						<xs:element name="Property" type="tgProperty" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="Qty" type="tgDecimal_11_3" minOccurs="0"/>
						<xs:element name="QU" type="tgNormalizedString4"/>
						<xs:element name="Markup" type="tgDecimal_9_6" minOccurs="0"/>
					</xs:sequence>
					<xs:attribute name="ID" type="xs:ID" use="required"/>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
		<xs:complexType name="tgGAEB_Cost">
			<xs:complexContent>
				<xs:restriction base="tgGAEB_Cost">
					<xs:sequence>
						<xs:element name="GAEBInfo" type="tgGAEBInfo">
							<xs:annotation>
								<xs:documentation>Informationen zum GAEB-Datenaustausch</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PrjInfo" type="tgPrjInfo" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Informationen zum Projekt</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ElementalCosting" type="tgElementalCosting">
							<xs:annotation>
								<xs:documentation>Kostenermittlung</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AddText" type="tgAddText" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Zusaetzlicher Text; Zusätzliche Textinformation können hier abgelegt werden. </xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
	</xs:redefine>
	<!--GAEB-->
	<xs:element name="GAEB" type="tgGAEB_Cost">
		<xs:annotation>
			<xs:documentation>Projektbezogene Kostenermittlung</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!--=========================================================================================================-->
</xs:schema>
