remsfal-gaeb/src/main/xsd/gaeb_da_xml/3_3/2021-05_Leistungsverzeichnis/GAEB_DA_XML_85_3.3_2021-05.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2012 sp1 (x64) (http://www.altova.com) by Bernhard Rath (Ing.-Büro B. Rath) -->
<!-- Mit XMLSpy v2012 sp1 (x64) (http://www.altova.com) von Bernhard Rath (Ing.-Büro B. Rath) bearbeitet -->
<!-- 

X85 - Nebenangebot
GAEB_DA_XML_3.3_2018-11  
======================
2013-11-18 Bearbeiter: Ladislav Ostry, Martin Hubert
- Namespace korrigiert DA83->DA85

2013-11-05 Bearbeiter: Ladislav Ostry, Martin Hubert
- Namen der Lib auf "GAEB_DA_XML_Lib_3.2_2013-10.xsd" geändert

GAEB_DA_XML 3.2 2012-01
======================

2013-09-05 Bearbeiter: Bernhard Rath
Änderungen laut Protokoll Telko 2013.09.02
- Datentypenänderung in LIB angepasst.

2013-05-23 Bearbeiter: Ladislav Ostry, Martin Hubert
- tgSubDescr - angepasst auf Lib Änderungen

Bearbeiter: Bernhard Rath
Bearbeiter: Andreas Schmidt, Ladislav Ostry
Elemente in die selbe Reihenfolge wie in X81 gebracht.

2012-01-30 Bernhard Rath
BoQInfo.CostType entfernt
Item.CostApproach entfernt

2012-01-31 Bernhard Rath
DP X83Z Angebotsaufforderung (Zeitvertragsarbeiten) eingefügt

2012-02-24 Bearbeiter: Bernhard Rath
Vorhalteleistungen unter tgItem aktiviert.

2012-06-06 Bearbeiter: Bernhard Rath
QtyDeterm (Mengenermittlung) in tgItem aktiviert

2012-10-20 Bearbeiter: Bernhard Rath
QtyDetermInfo (Mengenermittlung) in tgBoQInfo aktiviert

2018-11-10 Bearbeiter: Bernhard Rath
Begin der GAEB 3.3 Definition
Elemente mit GUID freigeschaltet.

2019-05-26 Bearbeiter Bernhard Rath
Name dieses Schema auf GAEB_DA_XML_85_3.3_2019-05.xsd gesetzt.
Verweis auf GAEB_DA_XML_Lib_3.3_2019-05.xsd angepasst.

2019-11-15 Bearbeiter Bernhard Rath
Name dieses Schema auf GAEB_DA_XML_85_3.3_2019-11.xsd gesetzt.
Verweis auf GAEB_DA_XML_Lib_3.3_2019-11.xsd angepasst.

2019-11-29 Bearbeiter Bernhard Rath
Restrictions angepasst.
2019-12-04 Bearbeiter Bernhard Rath
Restrictions angepasst.

2020-07-14 Bearbeiter Bernhard Rath
Name dieses Schema auf GAEB_DA_XML_85_3.3_2020-06.xsd gesetzt.
Verweis auf GAEB_DA_XML_Lib_3.3_2020-06.xsd angepasst.

2021-06-14 Bearbeiter Bernhard Rath
Name dieses Schema auf GAEB_DA_XML_85_3.3_2021-05.xsd gesetzt.
Verweis auf GAEB_DA_XML_Lib_3.3_2021-05.xsd angepasst.

-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.gaeb.de/GAEB_DA_XML/DA85/3.3" targetNamespace="http://www.gaeb.de/GAEB_DA_XML/DA85/3.3" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:redefine schemaLocation="../GAEB_DA_XML_Lib_3.3_2021-05.xsd">
		<xs:simpleType name="tgDP">
			<xs:restriction base="tgDP">
				<xs:enumeration value="85">
					<xs:annotation>
						<xs:documentation>Angebotsaufforderung</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
			</xs:restriction>
		</xs:simpleType>
		<xs:complexType name="tgAward">
			<xs:complexContent>
				<xs:restriction base="tgAward">
					<xs:sequence>
						<xs:element name="DP" type="tgDP">
							<xs:annotation>
								<xs:documentation>GAEB-Datenaustauschphase</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AwardInfo" type="tgAwardInfo" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Informationen zur Vergabe</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CTR" type="tgCTR" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Informationen zum Bieter/Auftragnehmer</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AddText" type="tgAddText" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Zusaetzlicher Text; Zusätzliche Textinformation können hier abgelegt werden.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="BoQ" type="tgBoQ" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Leistungsverzeichnis</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="WgChange" type="tgWgChange" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Lohnaenderung</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
		<xs:complexType name="tgAwardInfo">
			<xs:complexContent>
				<xs:restriction base="tgAwardInfo">
					<xs:sequence>
						<xs:sequence minOccurs="0">
							<xs:element name="Cur" type="tgCur">
								<xs:annotation>
									<xs:documentation>Waehrung</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="CurLbl" type="tgCurLbl" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Bezeichnung der Waehrung</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
						<xs:element name="BidDate" type="tgDate" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Angebotsdatum</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CashDiscount" type="tgCashDiscount" minOccurs="0" maxOccurs="3">
							<xs:annotation>
								<xs:documentation>Skonto</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CtlgAssign" type="tgCtlgAssign" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
		<xs:complexType name="tgBoQInfo">
			<xs:complexContent>
				<xs:restriction base="tgBoQInfo">
					<xs:sequence>
						<xs:element name="Name" type="tgNormalizedString20">
							<xs:annotation>
								<xs:documentation>Name des Leistungsverzeichnisses</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="LblBoQ" type="tgNormalizedString60">
							<xs:annotation>
								<xs:documentation>Bezeichnung des Leistungsverzeichnisses</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Date" type="tgDate" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Datum</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="OutlCompl" type="tgOutlCompl">
							<xs:annotation>
								<xs:documentation>Kurz- und Langtext</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="BoQBkdn" type="tgBoQBkdn" maxOccurs="7">
							<xs:annotation>
								<xs:documentation>Informationen zur Gliederung des LV</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:sequence minOccurs="0">
							<xs:element name="NoUPComps" type="tgNoUPComps">
								<xs:annotation>
									<xs:documentation>Anzahl der Einheitspreisanteile</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="LblUPComp1" type="tgLblUpComp" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Bezeichnung des 1. EP-Anteils</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="LblUPComp2" type="tgLblUpComp" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Bezeichnung des 2. EP-Anteils</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="LblUPComp3" type="tgLblUpComp" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Bezeichnung des 3. EP-Anteils</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="LblUPComp4" type="tgLblUpComp" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Bezeichnung des 4. EP-Anteils</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="LblUPComp5" type="tgLblUpComp" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Bezeichnung des 5. EP-Anteils</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="LblUPComp6" type="tgLblUpComp" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Bezeichnung des 6. EP-Anteils</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
						<xs:element name="LblTime" type="tgNormalizedString20" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Bezeichnung der Zeiteinheit</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CtlgAssign" type="tgCtlgAssign" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Katalogzuordnung</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Totals" type="tgTotals" minOccurs="0">
							<xs:annotation>
								<xs:documentation>LV-Summen</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Ctlg" type="tgCtlg" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Katalog</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="QtyDetermInfo" type="tgQtyDetermInfo" minOccurs="0"/>
					</xs:sequence>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
		<xs:complexType name="tgRemark">
			<xs:complexContent>
				<xs:restriction base="tgRemark">
					<xs:sequence>
						<xs:element name="Description" type="tgDescription">
							<xs:annotation>
								<xs:documentation>Textorganisation</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AlterBidStatus" type="tgAlterBidStatus" minOccurs="0">
							<xs:annotation>
								<xs:documentation>NebenangebotStatus; Bei new und modified werden die kompletten Positionen übertragen. Bei N/A wird nur dieses Kennzeichen übertragen.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CtlgAssign" type="tgCtlgAssign" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
					<xs:attribute name="ID" type="xs:ID" use="required"/>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
		<xs:complexType name="tgPerfDescr">
			<xs:complexContent>
				<xs:restriction base="tgPerfDescr">
					<xs:sequence>
						<xs:element name="PerfNo" type="tgPerfNo">
							<xs:annotation>
								<xs:documentation>Nummer der Ausfuehrungsbeschreibung</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PerfLbl" type="tgNormalizedString55">
							<xs:annotation>
								<xs:documentation>Bezeichnung d. Ausfuehrungsbeschreibung</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Description" type="tgPerfDescription" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Textorganisation</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AlterBidStatus" type="tgAlterBidStatus" minOccurs="0">
							<xs:annotation>
								<xs:documentation>NebenangebotStatus; Bei new und modified werden die kompletten Positionen übertragen. Bei N/A wird nur dieses Kennzeichen übertragen.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CtlgAssign" type="tgCtlgAssign" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
					<xs:attribute name="ID" type="xs:ID" use="required"/>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
		<xs:complexType name="tgBoQCtgy">
			<xs:complexContent>
				<xs:restriction base="tgBoQCtgy">
					<xs:sequence>
						<xs:element name="LblTx" type="tgMLText">
							<xs:annotation>
								<xs:documentation>Bezeichnung des LV-Bereichs</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:sequence minOccurs="0">
							<xs:annotation>
								<xs:documentation>nur bei Grund-/Alternativbereich</xs:documentation>
							</xs:annotation>
							<xs:element name="ALNBGroupNo" type="tgALNGroupNo">
								<xs:annotation>
									<xs:documentation>Gruppennummer der Zuordnungszahl zur Kennzeichnung zusammengehoerender Grund- und alternativer Ausfuehrungen</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="ALNBSerNo" type="tgALNSerNo">
								<xs:annotation>
									<xs:documentation>Laufende Nummer der Zuordnungszahl</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
						<xs:element name="CtlgAssign" type="tgCtlgAssign" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Katalogzuordnung</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="BoQBody" type="tgBoQBody" minOccurs="0">
							<xs:annotation>
								<xs:documentation>LV-Hauptteil</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Totals" type="tgTotals" minOccurs="0">
							<xs:annotation>
								<xs:documentation>LV-Bereich-Summen</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AlterBidStatus" type="tgAlterBidStatus" minOccurs="0">
							<xs:annotation>
								<xs:documentation>NebenangebotStatus; Bei new und modified werden die kompletten Positionen übertragen. Bei N/A wird nur die TeilOZ und dieses Kennzeichen übertragen.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="ID" type="xs:ID" use="required"/>
					<xs:attribute name="RNoPart" type="tgRNoPart" use="required">
						<xs:annotation>
							<xs:documentation>Teil-OZ </xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
		<xs:complexType name="tgItemlist">
			<xs:complexContent>
				<xs:restriction base="tgItemlist">
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:element name="Remark" type="tgRemark">
							<xs:annotation>
								<xs:documentation>Hinweistext</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PerfDescr" type="tgPerfDescr">
							<xs:annotation>
								<xs:documentation>Ausfuehrungsbeschreibung</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Item" type="tgItem">
							<xs:annotation>
								<xs:documentation>Position</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="MarkupItem" type="tgMarkupItem">
							<xs:annotation>
								<xs:documentation>Zuschlagsposition</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
		<xs:complexType name="tgItem">
			<xs:complexContent>
				<xs:restriction base="tgItem">
					<xs:sequence>
						<xs:sequence minOccurs="0">
							<xs:annotation>
								<xs:documentation>Nur bei Grund-/Alternativposition.</xs:documentation>
							</xs:annotation>
							<xs:element name="ALNGroupNo" type="tgALNGroupNo">
								<xs:annotation>
									<xs:documentation>Gruppennummer der Zuordnungszahl zur Kennzeichnung zusammengehoerender Grund- und alternativer Ausfuehrungen.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="ALNSerNo" type="tgALNSerNo">
								<xs:annotation>
									<xs:documentation>Laufende Nummer der Zuordnungszahl</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
						<xs:element name="Provis" type="tgProvis" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Bedarfsposition</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="LumpSumItem" type="tgYesNo" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Kennzeichen Pauschalposition</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="HourIt" type="tgHourIt" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Kennzeichen Stundenlohnarbeiten</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="KeyIt" type="tgKeyIt" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Kennzeichen Schwerpunktposition</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="UPBkdn" type="tgYesNo" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Aufforderung zur EP-Aufgliederung</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="MarkupIt" type="tgYesNo" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Kennzeichen fuer zu bezuschlagen</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="RefDescr" type="tgRefDescr" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Kennzeichen Bezugs-/ Wiederholungsbeschreibung</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:choice minOccurs="0">
							<xs:element name="RefRNo" type="tgRefItem">
								<xs:annotation>
									<xs:documentation>Verweis auf Bezugsposition</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="RefPerfNo" type="tgRefItem">
								<xs:annotation>
									<xs:documentation>Verweis auf Ausfuehrungsbeschreibung</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:choice>
						<xs:sequence minOccurs="0">
							<xs:element name="HoldOutType" type="tgHoldOutType">
								<xs:annotation>
									<xs:documentation>Art der Vorhalteleisutng
						
    BaseUseItem = Grundeinsatzposition,
    ExtUseItem = Verlängerungseinsatzposition 
    RentUseItem = Vermietposition. 						</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="UseDur" type="tgDecimal_13_2">
								<xs:annotation>
									<xs:documentation>Einsatzdauer in Zeiteinheiten</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="UseDurLblTime" type="tgUseDurLblTime">
								<xs:annotation>
									<xs:documentation>Bezeichnung der Zeiteinheit der Einsatzdauer</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="RefBaseItem" type="tgRefItem" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Verbindung zu einer Grundeinsatzposition</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
						<xs:choice minOccurs="0">
							<xs:sequence>
								<xs:element name="Qty" type="tgDecimal_11_3">
									<xs:annotation>
										<xs:documentation>Menge</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="QtySplit" type="tgQtySplit" minOccurs="0" maxOccurs="unbounded">
									<xs:annotation>
										<xs:documentation>Zuordnung der Teilmengen</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:choice>
						<xs:element name="QU" type="tgNormalizedString4">
							<xs:annotation>
								<xs:documentation>Mengeneinheit</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CtlgAssign" type="tgCtlgAssign" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Katalogzuordnung</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:sequence minOccurs="0">
							<xs:element name="UP" type="tgDecimal_13_3">
								<xs:annotation>
									<xs:documentation>Einheitspreis</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="UP110" type="tgDecimal_13_3" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Einheitspreis bei Mengen >110%</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="UPComp1" type="tgDecimal_13_3" minOccurs="0">
								<xs:annotation>
									<xs:documentation>1. Einheitspreisanteil</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="UPComp2" type="tgDecimal_13_3" minOccurs="0">
								<xs:annotation>
									<xs:documentation>2. Einheitspreisanteil</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="UPComp3" type="tgDecimal_13_3" minOccurs="0">
								<xs:annotation>
									<xs:documentation>3. Einheitspreisanteil</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="UPComp4" type="tgDecimal_13_3" minOccurs="0">
								<xs:annotation>
									<xs:documentation>4. Einheitspreisanteil</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="UPComp5" type="tgDecimal_13_3" minOccurs="0">
								<xs:annotation>
									<xs:documentation>5. Einheitspreisanteil</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="UPComp6" type="tgDecimal_13_3" minOccurs="0">
								<xs:annotation>
									<xs:documentation>6. Einheitspreisanteil</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="DiscountPcnt" type="tgDecimal_9_6" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Prozentualer Nachlass</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
						<xs:element name="IT" type="tgDecimal_13_2" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Gesamtbetrag incl. Nachlass</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="VAT" type="tgDecimal_5_2" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Falls dieses Element fehlt, gilt die übergeordnete MwSt.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PriceInfo" type="tgPriceInfo" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Preisinformation nur bei Instandhaltung</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="TimeQu" type="tgDecimal_13_2" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Zeitansatz in Zeiteinheiten (LblTime siehe tgBoQInfo)</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Description" type="tgDescription" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Textorganisation</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="BidComm" type="tgMLText" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Bieter Kommentar</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:sequence minOccurs="0">
							<xs:element name="SumDescr" type="tgYes">
								<xs:annotation>
									<xs:documentation>Kennzeichen Leitbeschreibung</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="SubDescr" type="tgSubDescr" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Unterbeschreibung </xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
						<xs:element name="Product" type="tgProduct" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Produktinformation</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AlterBidStatus" type="tgAlterBidStatus" minOccurs="0">
							<xs:annotation>
								<xs:documentation>NebenangebotStatus; Bei new und modified werden die kompletten Positionen übertragen. Bei N/A wird nur die TeilOZ und dieses Kennzeichen übertragen.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="QtyDeterm" type="tgQtyDeterm" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Mengenermittlung</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="ID" type="xs:ID" use="required"/>
					<xs:attribute name="RNoPart" type="tgRNoPart" use="required">
						<xs:annotation>
							<xs:documentation>Teil-OZ </xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="RNoIndex" type="tgRNoIndex"/>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
		<xs:complexType name="tgSubDescr">
			<xs:complexContent>
				<xs:restriction base="tgSubDescr">
					<xs:sequence>
						<xs:element name="SubDNo" type="tgSubDNo">
							<xs:annotation>
								<xs:documentation>Nummer der Unterbeschreibung</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Description" type="tgDescription">
							<xs:annotation>
								<xs:documentation>Textorganisation</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:sequence minOccurs="0">
							<xs:element name="QtySpec" type="tgYes">
								<xs:annotation>
									<xs:documentation>Angabe der Menge erforderlich</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="QtyTBD" type="tgYes" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Kennzeichen Freie Menge</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
						<xs:sequence minOccurs="0">
							<xs:element name="Qty" type="tgDecimal_11_3">
								<xs:annotation>
									<xs:documentation>Menge</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="QU" type="tgNormalizedString4" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Mengeneinheit</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
						<xs:element name="UPSpec" type="tgYesNo" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Angabe des Einheitspreises erforderlich</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="UPBkdn" type="tgYesNo" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Aufforderung zur EP-Aufgliederung</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:sequence minOccurs="0">
							<xs:element name="UP" type="tgDecimal_13_3">
								<xs:annotation>
									<xs:documentation>Einheitspreis</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="UPComp1" type="tgDecimal_13_3" minOccurs="0">
								<xs:annotation>
									<xs:documentation>1. Einheitspreisanteil</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="UPComp2" type="tgDecimal_13_3" minOccurs="0">
								<xs:annotation>
									<xs:documentation>2. Einheitspreisanteil</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="UPComp3" type="tgDecimal_13_3" minOccurs="0">
								<xs:annotation>
									<xs:documentation>3. Einheitspreisanteil</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="UPComp4" type="tgDecimal_13_3" minOccurs="0">
								<xs:annotation>
									<xs:documentation>4. Einheitspreisanteil</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="UPComp5" type="tgDecimal_13_3" minOccurs="0">
								<xs:annotation>
									<xs:documentation>5. Einheitspreisanteil</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="UPComp6" type="tgDecimal_13_3" minOccurs="0">
								<xs:annotation>
									<xs:documentation>6. Einheitspreisanteil</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
						<xs:element name="CtlgAssign" type="tgCtlgAssign" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
		<xs:complexType name="tgMarkupItem">
			<xs:complexContent>
				<xs:restriction base="tgMarkupItem">
					<xs:sequence>
						<xs:sequence minOccurs="0">
							<xs:element name="ALNGroupNo" type="tgALNGroupNo">
								<xs:annotation>
									<xs:documentation>Gruppennummer der Zuordnungszahl zur Kennzeichnung zusammengehoerender Grund- und alternativer Ausfuehrungen.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="ALNSerNo" type="tgALNSerNo">
								<xs:annotation>
									<xs:documentation>Laufende Nummer der Zuordnungszahl</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
						<xs:element name="Provis" type="tgProvis" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Bedarfsposition</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="HourIt" type="tgHourIt" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Kennzeichen Stundenlohnarbeiten</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="KeyIt" type="tgKeyIt" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Kennzeichen Schwerpunktposition</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="RefDescr" type="tgRefDescr" minOccurs="0"/>
						<xs:choice minOccurs="0">
							<xs:element name="RefRNo" type="tgRefItem">
								<xs:annotation>
									<xs:documentation>Verweis auf Bezugsposition</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="RefPerfNo" type="tgRefItem">
								<xs:annotation>
									<xs:documentation>Verweis auf Ausfuehrungsbeschreibung</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:choice>
						<xs:element name="MarkupType" type="tgMarkupType">
							<xs:annotation>
								<xs:documentation>Zuschlagsart</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="MarkupSubQty" type="tgMarkupSubQty" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Zu bezuschlagende Teilmengen</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ITMarkup" type="tgDecimal_13_2" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Summe der Gesamtbetraege der zu bezuschlagenden Positionen</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Markup" type="tgDecimal_9_6" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Zuschlagsprozentsatz</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="DiscountPcnt" type="tgDecimal_9_6" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Prozentualer Nachlass</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="IT" type="tgDecimal_13_2" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Gesamtbetrag incl. Nachlass</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Description" type="tgDescription">
							<xs:annotation>
								<xs:documentation>Textorganisation</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CtlgAssign" type="tgCtlgAssign" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Katalogzuordnung</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AlterBidStatus" type="tgAlterBidStatus" minOccurs="0">
							<xs:annotation>
								<xs:documentation>NebenangebotStatus; Bei new und modified werden die kompletten Positionen übertragen. Bei N/A wird nur die TeilOZ und dieses Kennzeichen übertragen.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="ID" type="xs:ID" use="required"/>
					<xs:attribute name="RNoPart" type="tgRNoPart" use="required">
						<xs:annotation>
							<xs:documentation>Teil-OZ </xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="RNoIndex" type="tgRNoIndex"/>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
		<xs:complexType name="tgDescription">
			<xs:complexContent>
				<xs:restriction base="tgDescription">
					<xs:sequence>
						<xs:choice minOccurs="0">
							<xs:element name="STLBBau" type="tgSTLBBau">
								<xs:annotation>
									<xs:documentation>Schluessel STLB-Bau</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="StLNo" type="tgStLNo">
								<xs:annotation>
									<xs:documentation>Standardleistungsnummer (StLB/STLK)</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:choice>
						<xs:element name="WICNo" type="tgNormalizedString40" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Katalognummer (Mutter-LV) </xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:choice>
							<xs:element name="CompleteText" type="tgCompleteText">
								<xs:annotation>
									<xs:documentation>Kurz- und Langtext</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="OutlineText" type="tgOutlineText">
								<xs:annotation>
									<xs:documentation>Kurztext</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:choice>
					</xs:sequence>
					<xs:attribute name="ID" type="tgGUID32">
						<xs:annotation>
							<xs:documentation>Die ID muss in 83 - > 84 Austausch erhalten bleiben. Damit können Descriptions eindeutig Identifiziert werden.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
		<xs:complexType name="tgPrjInfo">
			<xs:complexContent>
				<xs:restriction base="tgPrjInfo">
					<xs:sequence>
						<xs:element name="NamePrj" type="tgNormalizedString60" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Projektname</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PrjID" type="tgGUID32" minOccurs="0"/>
						<xs:element name="LblPrj" type="tgNormalizedString100" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Bezeichnung des Projektes</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Descrip" type="tgFText" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Kurzbeschreibung des Projektes</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:sequence minOccurs="0">
							<xs:element name="Cur" type="tgCur">
								<xs:annotation>
									<xs:documentation>Waehrung</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="CurLbl" type="tgCurLbl" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Bezeichnung der Waehrung</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
						<xs:element name="BidCommPerm" type="tgYesNo" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Bieter Kommentar zugelassen</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AddText" type="tgAddText" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Zusaetzlicher Text; Zusätzliche Textinformation können hier abgelegt werden. </xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CtlgAssign" type="tgCtlgAssign" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
		<xs:complexType name="tgGAEB">
			<xs:annotation>
				<xs:documentation>Aufgestellt vom Gemeinsamen Ausschuss Elektronik im Bauwesen (GAEB) © 2002 - 2012 by DIN Deutsches Institut fuer Normung e. V.</xs:documentation>
			</xs:annotation>
			<xs:complexContent>
				<xs:restriction base="tgGAEB">
					<xs:sequence>
						<xs:element name="GAEBInfo" type="tgGAEBInfo">
							<xs:annotation>
								<xs:documentation>Informationen zum GAEB-Datenaustausch</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PrjInfo" type="tgPrjInfo" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Informationen zum Projekt</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Award" type="tgAward">
							<xs:annotation>
								<xs:documentation>Vergabe
In diesem Objekt werden die Informationen des Vergabeverfahrens abgelegt. 
Das Objekt kann in den Datenaustauschphasen D81-D88 verwendet werden.</xs:documentation>
							</xs:annotation>
							<!--
								<xs:unique name="Constraint_Description_ID">
									<xs:selector xpath=".//Description | PreBoQText | PostBoQText"/>
									<xs:field xpath="@ID"/>
								</xs:unique>
								-->
						</xs:element>
						<xs:element name="AddText" type="tgAddText" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Zusaetzlicher Text; Zusätzliche Textinformation können hier abgelegt werden. </xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
	</xs:redefine>
	<!--GAEB-->
	<xs:element name="GAEB" type="tgGAEB"/>
	<!--=========================================================================================================-->
</xs:schema>
